
/* Templates */
.logo_top_tile{width:107px; height:79px; background-position:center; background-repeat:no-repeat; 
background-image:url(../navigation/logo_small.png); position:absolute; top:20px; left:50%; margin-left:-53px;}
/* tile_template_1 */
.tile_template_1{position:relative; width:100%; height:100%;}
.tile_template_1 .sprite{position:relative; width:400px; height:400px; background-position:top left; background-repeat:no-repeat; display:inline-block;
clear:both;}
.tile_template_1 .sprite2{position:relative; display:inline-block; width:44px; height:67px; background-position:center; background-repeat:no-repeat;
background-image:url(../navigation/see_down.png); clear:both;}
.tile_template_1 .item{position:relative; border:1px dashed #FFF;} 
.tile_template_1 .item_text{color:#FFF;}
/* tile_template_2 */
.tile_template_2{position:relative; width:100%; height:100%;}
.tile_template_2 .item{position:relative; border:1px dashed #FFF;}
.tile_template_2 .sprite{ position:absolute; width:600px; height:600px; background-position:top left; background-repeat:no-repeat; display:inline-block;
left:50%; top:50%;}
.tile_template_2 .default_image{ position:relative; width:233px; height:62px; background-size:contain; background-position:center;
background-repeat:no-repeat; background-image:url(../navigation/home_tile_image.png); display:inline-block; clear:both;}
.tile_template_2 .item_text{color:#FFF;}
.tile_template_2 .item_text1{margin-top:-20px;}
.tile_template_2 .item_text2{margin-top:10px;}
/* portfolio_template 1 */
.portfolio_template_1{position:relative; color:#FFF; width:100%; height:849px; background-position:center center; background-repeat:no-repeat;
background-size:cover; background-image:url(../navigation/delete_work_image1.jpg); clear:both;}
.less_780 .portfolio_template_1{height:540px;}
/* portfolio_template 1 */
.portfolio_template_2{position:relative; width:100%; height:auto; color:#FFF; background-position:top center; background-repeat:no-repeat;
background-size:cover; background-image:url(../navigation/delete_work_image2.jpg); text-align:center; clear:both; overflow:hidden;}
.portfolio_template_2 div{position:relative; text-align:center; overflow:hidden;}
.portfolio_template_2 img{position:relative; width:100%; height:auto !important; max-width:1100px; clear:both; display:inline-block; text-align:center;}
.portfolio_template_2 .btn_see{position:relative; display:inline-block; width:275px; height:108px; background-position:center; background-repeat:no-repeat;
background-size:cover; background-image:url(../navigation/btn_see_proyect.png);}
/* Button alpha */
.button_alpha{cursor:pointer;}



/* Menu Css Start Here */

.menu{/*position:fixed;*/ position:absolute; top:0px; right:0px; bottom:0px; width:auto; color:#CCCCCC; font-size:15px; z-index:10;}
.menu .menu_button{width:70px; height:70px; background:url(../navigation/menu_button.png) no-repeat left top; cursor:pointer; background-size:cover;}
.menu .buttons{position:absolute; top:70px; bottom:0px; left:0px; right:0px; background:#404148;}
.menu .button{position:relative; float:left; width:100%; height:50%; cursor:pointer; text-transform:uppercase;}
.menu .button .state1{position:absolute; width:100%; height:100%; background:#404148;}
.menu .button .state2{position:absolute; width:100%; height:100%; left:100%; background:#FFF; color:#666;}

.menu2{position:fixed; top:0px; right:0px; bottom:0px; width:270px; color:#CCCCCC; font-size:12px; background:#404148; z-index:15; letter-spacing:4px; box-shadow:0 0 3px rgba(0,0,0,0.15);}
.menu2 .background_div{position:absolute; top:0px; bottom:0px; right:0px; width:50%; background:rgba(0,0,0,0.04); }
.menu2 .header{position:absolute; left:0px; right:0px; top:0px; height:70px; background:#FFF; }
.menu2 .logo{position:absolute; left:50%; margin-left:-18px; top:50%; margin-top:-17px; }
.menu2 .close{width:18px; height:18px; background:url(../navigation/menu_close.png) no-repeat center; position:absolute; top:50%; margin-top:-9px; 
right:20px; cursor:pointer;}
.menu2 .content{position:absolute; top:70px; bottom:0px; left:0px; right:0px; }
.menu2 .separator_selected{display:none;}
.menu2 .button{position:relative; cursor:pointer; height:70px; text-transform:uppercase; }
.menu2 .button .state1{position:absolute; width:100%; height:100%; }
.menu2 .button .state2{position:absolute; width:100%; height:100%; top:100%; background:#FFF; color:#666; }
.menu2 .selected{transform:none !important; background:rgba(0, 0, 0, 0.2); } 
/* Responsive */
.less_780 .menu{bottom:auto; height:70px; } 
.less_780 .menu .buttons{display:none;}

/* Menu Css End Here */



.menu-content{ width:100%; float:left; padding:70px 0px 0px 0px;}
.menu-content ul{list-style:none;}
.menu-content ul li{line-height:40px; display:block; border-bottom:1px solid #383838;}
.menu-content ul li a{ font-family:'allerlight'; font-size:20px; font-weight:normal; color:#ffffff; display:block; text-decoration:none; padding-left:25px;}
.menu-content ul li a:hover{background:#ffffff; padding-left:15px; color:#3e3e3e;}
