@media screen and  (max-width:1024px){
.main_wrappr {width: 100%;}
.main_wrappr .footer-left {   width: 72%;}
.main_wrappr .course_panel .course_div {  width: 33.2%;}
.bnr_ovr_txt {    height: 90px;width: 100%;}
.bnr_over_info {   padding: 10px 20px 10px 20px !important;}
.bnr_over_info .bold_font {   font-size: 25px;}
.bnr_over_info .test_dateicon {    font-size: 16px;}
.news_detail .news_info { width: 79%;}
.slider{height: 350px;}
.slide img {height: 350px;}
.main_wrappr .course_detail .course_img {   height: auto;}
/*.main_wrappr .course_detail .course_des {   height: 114px;}*/
.main_wrappr .course_panel .course_div .course_detail {  height: 457px;}
.course_des ul li {  padding: 9px 0px;}
.item img {    height: 195px;}
.item {width: 81.5%;}
.main_wrappr .footer-right { width: 27%;}
.course_des ul li .last_course{line-height: 26px;}
.course_des ul .dentistry_course{padding: 10px 0px 10px 0px;}
}
 @media screen and  (max-width:980px){
   #slide-menu { display: inherit;    margin-left: -250px;    left: 0px;    width: 250px;    background: #F7FAFD none repeat scroll 0% 0%;    position: absolute;
 overflow-y: auto;   z-index: 1000;   color: #FFF;  font-size: 1em;  font-weight: 200 !important; text-align: center; box-shadow: -2px 0px 4px -1px rgba(0, 0, 0, 0.75) inset;}
.close{display:block;}
.mnu_icon_lft {  left: 5px;  position: absolute;  top: 5px;  padding: 7px;  margin: 0px auto;  width: 25px;  border-radius: 1px;  cursor: pointer;}
.mnu_icon_lft span {  float: left;  background: #1fac41;  width: 100%;  border-radius: 10px;  height: 5px;  margin: 0px 0px 3px;}
#close{cursor: pointer;}
.mnu_icon_lft.active{left: 9px;top: 8px;width: 10px;height: 5px;cursor: pointer;}
.active span.horizontal1{ position:absolute; transform: rotate(-45deg); top: 12px;left: 0;}
.active span.horizontal2{ background-color:transparent;}
.active span.horizontal3{ position:absolute; transform: rotate(45deg); bottom: 2px;left: 0;}
.main_wrappr .leftsection {position: relative;text-align: left;width: 100%;height:100%;margin-bottom: 0px;}
.main_wrappr .rgtsection {    width: 100%;}
.item {   width: 85.5%;}
}
@media screen and  (max-width:800px){
.bnr_ovr_txt { height: 70px;}
.bnr_over_info {  padding: 5px 20px 0px 20px !important;}
.bnr_over_info .bold_font {   font-size: 20px;}
.bnr_over_info .test_dateicon {   font-size: 14px;}
.bnr_ovr_txt { background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;}
.main_wrappr .footer-left { width: 100%;}
.footernew .main_wrappr.foot1 {   display: inline-block;   text-align: center;}
.main_wrappr .footer-right {    width: auto;   float: none;   text-align: center;   display: inline-block;margin: 30px 0px 0px 20px;}
.info_prt ul li {  text-align: left;}
.footer-left .info_prt { width: 22%; margin-left: 2%;}
.main_wrappr .course_panel .course_div .course_detail {   height: 408px;}
.rgtsection .news_sec { width: 55%;  padding-left: 15px;}
.rgtsection .sec_cont .enquery_form {  width: 44.7%;}
.item {  width: 82.2%;}
.apple_store {    width: 130px;}
.e-book_store {   width: 130px;   margin: 0px 0px 0px 10px;}
.CLOUD_Android {margin: 0px 0px 0px 0px;}
.CLOUD_IOS {margin: 0px 0px 0px 17px;}
.CLOUD_IOS {   margin: 0px 0px 0px 0px;}
.onloadPopup .imgholder { width: 90%; height:auto;}
.course_des ul li .last_course{line-height: 16px;}
}
@media screen and  (max-width:768px){
 .footer-bottom .bottom_left { width: 100%;    text-align: center;}
 .main_wrappr.footbot {  overflow: auto;}
 .footer-bottom {   width: 100%;   height: auto;}
 .footer-bottom .bottom_right {   width: 100%;  text-align: center;}
 .item img {    height: 198px;}
 .slider{height: 320px;}
.slide img {height: 320px;}
.item {  width: 81.5%;}
.course_des ul .dentistry_course{padding: 10px 0px 37px 0px;}
}
@media screen and  (max-width:640px){
.slider{height: 290px;}
.slide img {height: 290px;}
body{  background: #fff none repeat scroll 0% 0% !important;}
.main_wrappr .course_panel .course_div {   width: 48.2%;   margin-left: 1%;}
.rgtsection .news_sec {   width: 99%;}
.rgtsection .sec_cont .enquery_form {  padding-left: 15px;width: 99%;}
footer span.v-line1 {   padding: 0px 6px;}
.main_wrappr .course_panel .course_div .course_detail {   height: 437px;}
.item img {  width: 100%;}
.news_detail.topper {    height: auto;}
.form_detail.gallary {   height: auto;}
.owl-carousel .owl-wrapper-outer { padding: 5px 8% 0px;}
.video_cont .item {width: 84%;}
.course_des ul .dentistry_course{padding: 10px 0px 10px 0px;}
}
@media screen and  (max-width:600px){
.slider{height: 270px;}
.slide img {height: 270px;}
.main_wrappr .course_panel .course_div .course_detail {   height: 424px;}

}
@media screen and  (max-width:540px){
.bnr_ovr_txt {   height: 60px;}
.footer-left .info_prt {   width: 39%;margin-bottom: 40px;   margin-left: 9%;} 
.bnr_over_info .bold_font {  font-size: 18px;margin-bottom: 0px;}
.bnr_over_info .test_dateicon {    font-size: 12px;}
.bnr_over_info {  padding: 5px 10px 0px !important;}
.slider{height: 260px;}
.slide img {height: 260px;}
.main_wrappr .footer-right {    margin-top: 0px;}
.main_wrappr .course_panel .course_div .course_detail {   height: 405px;}
.main_wrappr .footer-right {    margin: 30px 0px 0px 9%;}
.CLOUD_Android {  margin: 0px 0px 0px -8px;}
.CLOUD_IOS {   margin: 0px 0px 0px 17px;}
.course_des ul .dentistry_course{padding: 10px 0px 37px 0px;}
}
@media screen and  (max-width:480px){
 .slider{height: 225px;}
.slide img {height: 225px;}
.main_wrappr .course_panel .course_div .course_detail {height: 386px;}
}
@media screen and  (max-width:360px){ 
 .slider{height: 200px;}
.slide img {height: 200px;}
.main_wrappr .course_panel .course_div {   width: 96%;   margin-left: 2%;}
.news_detail .news_info {    width: 77%;}
.news_detail .news_cont {   padding: 14px 7px 0px;}
.main_wrappr .course_panel .course_div .course_detail {    height: 466px;}
.item {   width: 80%;}
.video_cont .item {   width: 80%;}
.owl-carousel .owl-wrapper-outer {   padding: 5px 10% 0px;}
.main_wrappr .footer-right {  margin: 30px 0px 0px 10%;}
.e-book_store {margin: 0px 0px 0px 0px;}
.CLOUD_Android {margin: 0px 0px 0px 0px;}
.CLOUD_IOS { margin: 0px 0px 0px 0px;}
.course_des ul .dentistry_course{padding: 10px 0px 10px 0px;}
}
@media screen and  (max-width:320px){
.footer-left .info_prt {    width: 45%;    margin-left: 4%;}
 .slider{height: 175px;}
.slide img {height: 175px;}
.news_detail .news_info {    width: 74%;}
.main_wrappr .course_panel .course_div .course_detail {  height: 441px;}
.main_wrappr .footer-right { margin: 30px 0px 0px 5%;}
}
