@media screen and (max-width: 1024px) {
.main_wrappr{ width:1001px;}
.info_prt { width: 33%;}
.followuson { margin: 0 10px; padding: 0 10px;}
.followuson {  width: 195px;}
.event-info-col:first-child {  padding-left: 20px;}
.event-info-col { padding: 10px;  padding-top: 35px;  padding-bottom: 25px;}
.event-info-col .main-title3 { font-size: 16px;}
.about-text-wrapper { padding: 20px 25px 15px 25px;}
.package_cntr_pad{padding: 40px 15px;}
.pkg_red, .pkg_green { width: 46%; margin: 0px 2%;}
.feature_new { width: 100%;}
.one-third.columns { width: 46%;margin: 0px 2%;}
.ctnt_heading .cont_feat_h {  padding-left: 20px;}
.feat_top {  padding: 25px 20px 40px 20px;}
.cntr_list { padding: 30px 20px 40px 20px;}
.ftr_controler { padding: 40px 20px;}
.about-text-content {margin-bottom: 10px;}
.main_cont_head {width: 100%; padding: 0px 25px;}
}
@media screen and (max-width: 980px) {
.main_wrappr{ width:99%;}
.top_bar_menu { float: none; text-align: center;}
.top_bar_menu li { float:none; display: inline-block;}
.nav_cntr {	margin-top: 20px;}
.toggleMenu { margin-bottom:4px;}
.nav { position: absolute; background:#fff ; right: 0px; width: 50%; z-index:9; margin-top: 19px; border: 1px solid #d5d5d5;}
.nav a { padding: 15px 0 10px 10px; margin: 0 0px; color: #505050;}
.nav > li { float: none; }
.nav > li > a{ border-bottom: 1px solid #ddd; border-right:none;}
.nav > li > a.first { margin-left: auto; padding-left: 10px;}
.nav > li > a:hover { color:#fff;}
.nav > li > .parent { background-position: 95% 50%; }
.nav li li .parent { background-image: url("images/downArrow.png"); background-repeat: no-repeat; background-position: 95% 50%; }
.nav ul { display: block; width: 100%; }
.nav > li.hover > ul, .nav li li.hover ul { position: static; }
.nav > li > a:hover, .nav > li > a.selected { border-bottom: 1px solid #ddd; background: #05bd5e; color:#fff;}
footer .ft_ttl, footer { text-align:center;}
.info_prt ul li { float: none; }
.dwnlod_app a { float:none; display:inline-block;}
.ctnt_fst_hding { width:100%; left:0;}
.followuson{ padding:0; height:auto; border:none;}
.ctnt_heading h1{ padding-left:10px; text-align:center;}
.reg_btn { margin: 22px 10px 0 0;}
.day_date_cntr { margin-right: 32px;}
.bnr_ovr_txt { margin-top: 20px;}
.nav_fixed.stick .nav_cntr{ margin-top: 3px;}
.nav_fixed.stick .nav{ margin-top:-1px;}
.nav_fixed.stick .nav a { padding: 15px 10px;}
.feature_new {width: 100%;}
.about-picture-wrapper img { max-width: 136% !important;  height: auto;}
.main_cont_head { width: 100%;}
}
@media screen and (max-width: 800px) {
.ctnt_heading { border-bottom: 1px solid #ececec; height: auto; overflow: hidden;}
.ctnt_heading h1 { line-height:55px; border-bottom: 1px solid #ececec;}
.regdate_cntr { width:100%;}
.day_date_cntr { float: left; margin-right: 0;}
.ctnt_heading h1{ display:inherit;}
.inr_fbak_cntr .feedback_txt{ padding:20px; background-color:rgba(255,255,255,0.7);}
.inr_fbak_cntr{ }
.bnr_ovr_txt{ display:none;}

.event-infos .event-info-col {width: 50%;}
.event-infos .event-info-col:hover { width: 50% !important;}
.event-infos:hover .event-info-col {width: 50%;}
.event-info-col:first-child { padding-left: 5%;}
.event-info-col {  border-bottom: 1px dashed #515151;  padding-left: 5%;}
.about-picture-wrapper {  width: 100%;}
.about-picture{height: 400px;overflow: hidden;}
.about-picture-wrapper img {width: 100% !important; margin-top: -102px;height: auto;}
.about-text-wrapper {  width: 100%;}
.online_centers li { width: 25%;}
.pkg_red, .pkg_green {width: 49%; margin: 0px 0%;}
.info_prt { width: 50%;}
.info_prt2 { margin:0px;}
.followuson {width: 50%;margin: 38px 0px 0px 0px;}
.featrs_wpr ul li { color: #021533;}
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 640px){
 .pkg_red, .pkg_green { width: 80%; margin: 0px 10%;}
.pkg_green {    margin-top: 30px ;}
.info_prt {  width: 100%; text-align: center;}
.info_prt ul{width: 50%;display: inline-block;margin-bottom: 30px;text-align: left;}
.ft_ttl { width: 50%; display: inline-block;}
.info_prt2{padding: 0px;    border-left: 0px solid rgba(0,0,0,0.20);border-right: 0px solid rgba(0,0,0,0.20);}
.info_prt2 ul li { list-style: disc;}
.info_prt ul li {  margin-left: 14px;}
.followuson {text-align: center;margin: 8px 0px 0px 0px;width: 100%;}
.foll_us{width: 150px !important;vertical-align: text-bottom;display: inline-block;}

}
@media screen and (max-width: 600px) {
.ctnt_heading h1{ padding-left:0; display:block; text-align:center;}
.online_centers li {width: 33%;}
#image_slider li { width: 298px;}
#image_slider li iframe { height: 250px;}
.ft_ttl { width: 65%;}
.info_prt ul { width: 65%;}
.about-picture {  height: 330px; overflow: hidden;}
.about-picture-wrapper img { margin-top: -48px;}
.slider .slide-prev, .slider .slide-next { cursor: pointer;top: 54%;  height: 27px; width: 27px;}
.slider .slide-prev:before, .slider .slide-next:before { display: block; width: 27px; height: 27px; font-size: 25px; line-height: 27px; }
.featrs_wpr ul li {font-size: 14px;}
}
@media screen and (max-width: 480px) {
.day_date_cntr{ display:none;}
.nav {  width: 100%; margin-top: 15px;}
.day_date_cntr li .num_date { font-size: 20px; padding: 12px 15px;}
.day_date_cntr li .dy_mnth{ padding:4px 7px;}
.cbt_vdo_cntr { width: 38%;}
.aftr_inr_cntr { padding: 7px;}
.regdate_cntr{ text-align:center; margin-bottom:10px;}
.reg_btn{ float:none;}
.ctnt_heading h1{ border-bottom:none;}
.pkg_dtls p .spanleft { width: 90px;}
.cbtabs a { font-size: 14px; padding: 12px 5px;}
.inr_fbak_cntr, .ftr_inr_cntr{ padding:0;}
.info_prt ul li a { font-size: 16px; margin-right: 0px; padding-right: 0px;}
.info_prt ul{ padding:0 10px;}
.ftr_controler {padding: 40px 20px;}
.ft_ttl { width: 81%;}
.info_prt ul { width: 81%;}
.followuson { text-align: left;}
.foll_us {  margin-left: 10%;}
.event-infos .event-info-col { width: 100%;}
.event-infos:hover .event-info-col { width: 100%;}
.event-infos .event-info-col:hover {width: 100% !important;}
.event-info-col {min-height: 78px;padding: 10px;padding-top: 20px;padding-bottom: 15px;border-right: 0px dashed #515151;}
.pkg_red, .pkg_green { width: 90%;margin: 0px 5%;}
.pkg_green {  margin-top: 30px;}
.about-picture {  height: 270px; overflow: hidden;}
.featrs_wpr { background: url(././images//features_bg.png) no-repeat right top;}
.featrs_wpr ul li span {font-size: 25px;}
.featrs_wpr ul li {width: 89%;margin-bottom: 15px; padding-left: 34px;}
}
@media screen and (max-width: 360px) {
.logo img{ width:235px;}
.nav_cntr { margin-top: 10px;}
.nav_fixed.stick .nav_cntr { margin-top: -43px;}
.bnr_ovr_txt h2 { font-size: 24px; line-height:normal;}
.ctnt_heading h1 { line-height: normal; padding: 10px 0;}
.sld_section { min-height: 430px;}
.pkg_red h2, .pkg_green h2 { font-size: 24px;}
.nvgt { font-size: 18px; height: 35px; width: 30px;}
#prev, #next{ line-height:35px;}
.ctnt_heading h1 { font-size: 24px;}
.info_prt ul { width: 100%;}
.ft_ttl { width: 100%;}
.foll_us { width: 100% !important; margin-left: 0%;}
.about-picture { height: 231px;}
.pkg_red, .pkg_green { width: 98%;margin: 0px 1%;}
.v_date {padding: 20px 0;}
.pkg_green { margin-top: 30px;}
.online_centers li {width: 50%;}
.main_cont_head {  padding: 0px 10px;}
.featrs_wpr ul li span {font-size: 21px;}
.featrs_wpr ul li {padding-left: 30px;}
}
@media screen and (max-width: 320px) {
    .about-text-wrapper .title3 { font-size: 22px;}
    .about-picture {height: 184px;}
}