

body { font-family: arial,verdana,sans-serif; font-size: 13px; color: #555; padding: 0; background-color: #f7efed;  background-repeat: repeat-x; margin: 0; }

textfield{ margin:0px; padding:0px;}



p { line-height: 20px; margin: 0 0 20px 0; }
img { display: block; border: 0; }
table { padding: 0; border: 0; border-collapse: collapse; }
td, th { vertical-align: top; padding: 0; border: 0; }
a { color: #678c98; text-decoration: none; }
a:focus, a:hover, a:active { outline: none; }
a:hover { color: #80d0d5; text-decoration: none; }
ul, ol { padding: 0; margin: 0; list-style: none; }
li { padding: 0; margin:0px; }
form { padding: 0; margin: 0; }
object { padding: 0; margin: 0; }
embed { padding: 0; margin: 0; }



h2 { font-size: 18px; line-height: 24px; font-weight: normal; color: #6c4226; padding: 0; margin: 0 0 15px 0; }
h4 { font-family: georgia,verdana,sans-serif; font-size: 16px; font-weight: normal; line-height: 18px; padding: 0; margin: 0 0 6px 0; }
h5 { font-size: 12px; font-weight: bold; text-transform: uppercase; color: #89d3d7; padding: 0; margin: 0 0 10px 0; }
h6 { font-size: 12px; font-weight: bold; padding: 0; margin: 0 0 6px 0; }



#page { position: relative; width: 960px; margin-left: auto; margin-right: auto; }






/* header start */

#header { width: 100%; }
#header #had_top { width: 100%; margin: 0;  }
#header #had_top:after { clear: both; display: block; content: "."; height: 0px; visibility: hidden; }
#header #had_top #menu { float: right; margin: 15px 0 0 0; }
#header #had_top #menu ul li { float: left; font-size: 9px; color: #6e6b6c; padding: 0 0 0 11px;  margin: 0 0 0 11px; }
#header #had_top #menu ul li a { color: #6e6b6c; }
#header #had_top #menu ul li a:hover { text-decoration: underline; }

#logo { margin: -20px 0 0px 19px; }
#logo #logo_title { position: absolute; margin: 40px 0 0 100px; }
#logo .india_text{ margin:-18px 0 0 -7px;}

.search{  margin:-30px 0 0 790px;}
.search img{ display:inline; vertical-align:top;}
.search input.search_text{ width:148px; height:28px; font-size:12px; color:#999; vertical-align:top; padding:0 5px 0 5px; border-style:hidden; border-width:0px;}
.search input.search_text { width: 115px; height: 18px; font-size: 12px; color: #999; padding: 0 5px 0 5px; }


/* header close */


/* footer start */

#footer_border{border-top:1px solid #dacfca; height:1px;}
#footer { width: 100%; background:url(../images/footerpink.jpg) repeat-x ;padding:15px 0 15px 0; border-left:1px solid #dacfca; color:#fbe8ec; }
#footer table td { width: 213px; padding: 0 13px 0 13px; border-right: 1px solid #f490b0; }
#footer table td.last { border-right: none; }
#footer table td ul li { font-size: 11px; margin: 0 0 5px 0; }
#footer table td ul li a { color:#f5d6dc; }
#footer table td ul li a:hover { text-decoration: underline; color:#FFFFFF; }

#foot { width:auto; padding: 10px 0 20px 0; border-top: 1px solid #dacfca; overflow:hidden; display:block; }


#foot .foot_text { float: left; padding: 0 0 0 15px; font-size: 11px; color: #848484; }

#foot .foot_text ul { width:auto; overflow:hidden; }

#foot .foot_text ul li { float:left; padding: 0 10px 0 0; border-right: 1px solid #c5c3bc; margin: 0 10px 0 0; }
#foot .foot_text ul li.last { border: none; }
#foot .social{ float:right; margin:0px 0 0px 0px; padding:0 0 0 0;}

.social ul{ width:auto; overflow:hidden;}

.social ul li {margin-left:5px;float:left;}

/* footer close */

/* Navigation start */

#navi { width: 100%; background-image:url(../images/bg_navi.png); background-repeat: no-repeat; margin:10px 0 0 0; }
#navi ul { padding:0 0 0px 26px; overflow:hidden; }
#navi ul li { float: left; height: 33px; font-family:Arial, Helvetica, sans-serif ; font-size: 15px;  cursor: pointer; padding: 17px 19px 0 19px;  }
#navi ul li a { color: #fbfbfb; }
#navi ul li:hover { background-image:url(../images/bg_navglobal_ovr.gif); }
#navi ul li:hover a { color: #002868; }
#navi ul li:hover .navi_open { display: block; }
#navi ul li .navi_open { -moz-box-shadow: 2px 2px 1px #666; -webkit-box-shadow: 2px 2px 1px #666; box-shadow: 2px 2px 1px #666; }
#navi ul li .navi_open { -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#555555)"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#555555') }
#navi ul li .navi_open { position: absolute; display: none; cursor: default; padding: 0; background-color: #f4f3f0; margin: 33px 0 0 -20px; z-index: 20; }
#navi ul li:hover .navi_open table td { width: 135px; cursor: pointer; padding: 15px 14px 10px 14px; border-right: 1px solid #e1e1e1;  background-position: bottom left;  }
#navi ul li:hover .navi_open table td img { margin: 0 0 10px 0; }
#navi ul li:hover .navi_open table td p { font-family: arial,verdana,sans-serif; font-size: 13px; line-height: 16px; color:#555555;}
#navi ul li:hover .navi_open table td .navi_had { font-size: 12px; font-weight: bold; color:#3c555f; margin: 0 0 5px 0; }
#navi ul li:hover .navi_open table td:hover .navi_had { color:#fb448b; }
#navi ul li:hover .navi_open table td:hover p { color: #848484; }

/* Navigation close */





/* banner start */

#banner { width: 100%; height: 390px; padding: 0px 0 3px 0; margin: 0 0 9px 0; }
#banner #slider_box { position: absolute; display: none; margin: 333px 0 0 310px; }
#banner #slider_box ul li { float: left; height: 57px; cursor: pointer; background-position: 0 0; overflow: none; }
#banner #slider_box ul li:hover { background-color: #80d0d5; filter: alpha(opacity=100); -moz-opacity: 1.00; opacity: 1.00; }
#banner #slider_box ul li.box0 { width: 163px; color: #452f2e; background-image:url(../images/bg_thumb_off.png); background-position: top right; }
#banner #slider_box ul li.box1 { width: 163px; color: #452f2e; background-image:url(../images/bg_thumb_off.png); background-position: top right; }
#banner #slider_box ul li.box2 { width: 163px; color: #452f2e; background-image:url(../images/bg_thumb_off.png); background-position: top right; }
#banner #slider_box ul li.box3 { width: 161px; color: #452f2e; background-image:url(../images/bg_thumb_off.png); background-position: top left; }
#banner #slider_box.select0 ul li.box0 { width: 163px; color: #cb7aa8; background-image:none ; background-position: top right; }
#banner #slider_box.select1 ul li.box1 { width: 163px; color: #cb7aa8; background-image:none ; background-position: top right; }
#banner #slider_box.select2 ul li.box2 { width: 163px; color: #cb7aa8; background-image:none ; background-position: top right; }
#banner #slider_box.select3 ul li.box3 { width: 161px; color: #cb7aa8; background-image:none; background-position: top left; }
#banner #slider_box.select0 ul li.box0 .img { position: absolute; margin: 10px 0 0 11px; filter: alpha(opacity=100); -moz-opacity: 1.00; opacity: 1.00; }
#banner #slider_box.select1 ul li.box1 .img { position: absolute; margin: 10px 0 0 11px; filter: alpha(opacity=100); -moz-opacity: 1.00; opacity: 1.00; }
#banner #slider_box.select2 ul li.box2 .img { position: absolute; margin: 10px 0 0 11px; filter: alpha(opacity=100); -moz-opacity: 1.00; opacity: 1.00; }
#banner #slider_box.select3 ul li.box3 .img { position: absolute; margin: 10px 0 0 11px; filter: alpha(opacity=100); -moz-opacity: 1.00; opacity: 1.00; }
#banner #slider_box ul li .img { position: absolute; margin: 10px 0 0 11px; filter: alpha(opacity=70); -moz-opacity: 0.70; opacity: 0.70; }
#banner #slider_box ul li .txt { position: absolute; width: 90px; height: 47px; font-size: 11px; font-weight: bold; line-height: 12px; text-transform: uppercase; margin: 16px 0 0 66px; }
#banner #slide_image0 { position: absolute; display: block; margin: 0 0 0 310px; filter: alpha(opacity=100); -moz-opacity: 1.00; opacity: 1.00; }
#banner #slide_image1 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image2 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image3 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image4 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image5 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image6 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image7 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image8 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image9 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image10 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image11 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image12 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image13 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image14 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image15 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image16 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image17 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image18 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image19 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #slide_image20 { position: absolute; display: none; margin: 0 0 0 310px; filter: alpha(opacity=0); -moz-opacity: 0.00; opacity: 0.00; }
#banner #text0 { position: absolute; display: block; width: 270px; height: 360px; padding: 30px 20px 0 20px; background-color: #fff; }
#banner #text1 { position: absolute; display: none; width: 270px; height: 360px; padding: 30px 20px 0 20px; background-color: #fff; }
#banner #text2 { position: absolute; display: none; width: 270px; height: 360px; padding: 30px 20px 0 20px; background-color: #fff; }
#banner #text3 { position: absolute; display: none; width: 270px; height: 360px; padding: 30px 20px 0 20px; background-color: #fff; }
#banner .detail p { margin-bottom: 25px; color:#5a6169; }
#banner .detail h2 { font-size: 24px; font-weight: normal; color: #74ccd3; }

.l_more { overflow: hidden; width: 100%; }
a.blue { float: left; display: block; height: 30px; font-size: 12px; font-weight: bold; color: #fff; text-decoration: none; padding: 0 4px 0 0; background-image:url(../images/bg_button_blue_right.gif); background-repeat: no-repeat; background-position: top right; margin: 0 6px 0 0; }
a.blue span { display: block; line-height: 14px; padding: 8px 10px 8px 10px; background-image:url(../images/bg_button_blue_left.gif); background-repeat: no-repeat; }

/* banner close */





/* left & right box start */



.error_msg {	 -moz-border-bottom-colors: none !important;   -moz-border-left-colors: none !important;    -moz-border-right-colors: none !important;    -moz-border-top-colors: none !important;    background: #fffacd !important;    border-bottom: 1px solid #e76145 !important;    border-image: none !important;    border-left: medium none;    border-right: medium none;    border-top: medium none;}
.error_msg1 { background: #fffacd !important; border: 1px solid #e76145 !important; border-image: none !important; border-left: medium none; border-right: medium none; border-top: medium none;}


.query_box{  width:232px; float:left; background-image:url(../images/query_bg.gif); background-repeat:repeat-x; border:2px #7bcfd5 solid; height:365px; background-color:#7bcfd5; }
.query_box h1{ width:auto; font-size:16px; color:#25585b; margin:0px; padding:5px 10px; }
.query_box ul{ width:auto; background-color:#e6f7f8; margin:5px; padding:10px 0 0 10px; height:86%; }
.query_box ul li{ width:auto; margin:0 0 5px 0px;}
.query_box ul li .query-button{ width:auto; margin:4px 0 0px 0px;}
.query_box-text{ width:188px; background-image:url(../images/text_bg.gif); border:1px #c7d6d7 solid; padding:5px; border-radius:6px; color:#7b7b7b; font-size:11px; margin:0px;}
.query_box-text1{ width:188px; background-image:url(../images/text1_bg.gif); border:1px #c7d6d7 solid; padding:5px; border-radius:6px; color:#7b7b7b; height:30px; font-size:11px;}
.query_box-text2{ width:188px; background-image:url(../images/text1_bg.gif); border:1px #c7d6d7 solid; padding:5px; border-radius:6px; color:#7b7b7b; height:40px; font-size:11px;}
.query_box-text:focus{ border:1px #c7d6d7 solid; outline:none;  color:#7b7b7b; background-color:#0F0;}
.query_box-text1:focus{ border:1px #c7d6d7 solid; outline:none;  color:#7b7b7b; background-color:#0F0;}
.query_box-text2:focus{ border:1px #c7d6d7 solid; outline:none;  color:#7b7b7b; background-color:#0F0;}
.query-button{ background-image:url(../images/blue_submit.gif); background-repeat:no-repeat; border:none; color:#ffffff; width:69px; height:28px; cursor:pointer; font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:590;}
.query_box .query{ background-image:url(../images/query_bg.gif); background-repeat:repeat-x; height:34px; width:auto; border:#7bcfd5 2px solid; color:#25585b; font-size:16px; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-weight:bold; }
.query_box .query .title{ padding:8px; 0 0 0;}

.left_box { float: left; width: 470px; margin: 0 10px 10px 0; }
.left_box .news_box{  width:43%; height:348px; border:#fff 10px  solid; float:left; background-color:#FFF; margin-left:10px; font-size:10px; font-family:Arial, Helvetica, sans-serif;}
.left_box .news { float: left; background-color:#FFF; width:180px; margin:0 10px; }
.left_box .news .title { background-image:url(../images/new1.jpg); width:98px; height:18px;  background-repeat:no-repeat; margin:0 0 10px 0px; }
.left_box .news ul li a{font-family:Arial; line-height:14px; font-size:12px;}
.left_box .news ul li h4 { font-family: georgia,verdana,sans-serif; font-size: 16px; font-weight: normal; line-height: 18px; padding-top:4px; margin: 0 0 6px 0;  }
.left_box .news ul li .subhead { font-size: 12px; font-weight: bold; color: #848484; text-transform: uppercase;margin: 0 0 4px 0; font-family:Verdana, Geneva, sans-serif }

.right_box { float: left; width: 480px; }
.right_box .small_ban { width: 100%; margin: 0 0 7px 0; }
.right_box .small_ban:after { clear: both; display: block; content: "."; height: 0px; visibility: hidden; }
.right_box .small_ban ul li { float: left; margin: 0 10px 0 0; }
.right_box .small_ban ul li.last { margin: 0; }
.right_box .small_ban ul li img { padding: 0 0 10px 0; }
.right_box .team { width: 456px;background-color: #fff;  min-height:140px; padding:10px 0 0 25px ;}
.right_box .team img { float: left; padding:10px 0 0 0; }
.right_box .team p { line-height: 16px;  font-size: 13px; float:left; width:100%; padding:10px 0 0 0;}
.right_box .team .team_content{  width:320px; float:left; padding:0 0 0 10px;}

/* left & right box close */




/* abt_mammo start */

#abt_mammo{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#abt_mammo #bannerrow{ width:auto; overflow:hidden;}



#abt_mammo #banner{ background-image:url(../images/abt_mammo.jpg); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#abt_mammo #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#abt_mammo #bannerabtmammo div{ padding:50px 35px;}

#abt_mammo #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:209px; margin:0px; padding:0px;}
#abt_mammo #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:10px 0 0 20px; }
#abt_mammo #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:170px; text-align:left;}
#abt_mammo #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:170px; text-align:left;}

#abt_mammo #mammodetail{  width:auto; }
#abt_mammo #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 10px 3px; padding:10px 20px;}
#abt_mammo #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0;  }
#abt_mammo #mammodetail ul li{  width:auto; line-height:20px; font-weight:bold;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:square; }
#abt_mammo #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#abt_mammo #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 0px 0px; width:auto; font-weight:bold; padding:0px;  }
#abt_mammo #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}


#abt_mammo .aunty{ margin:0 0px 0 10px; border:#FFF 1px solid;}
#abt_mammo #content-left-image ul li img{ margin:0 0 10px 0 ;}
#abt_mammo .lady_img{ height:140px; width:235px; background-image:url(../images/lady-banner.jpg); margin:0 0 10px 0;}

/* abt_mammo close */


/* cos start */

#cos{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#cos #bannerrow{ width:auto; overflow:hidden;}



#cos #banner{ background-image:url(../images/screened.gif); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#cos #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#cos #bannerabtmammo div{ padding:25px 28px;}

#cos #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:209px; margin:0px; padding:0px;}
#cos #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:10px 0 0 20px; }
#cos #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}
#cos #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}

#cos #mammodetail{  width:auto; }
#cos #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 10px 3px; padding:10px 20px;}
#cos #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0;  }
#cos #mammodetail ul li{  width:auto; line-height:20px;;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:disc; }
#cos #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#cos #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 0px 0px; width:auto; font-weight:bold; padding:0px;  }
#cos #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}


#cos .aunty{ margin:0 0px 0 10px; border:#FFF 1px solid;}
#cos #content-left-image ul li img{ margin:0 0 10px 0 ;}
#cos .lady_img{ height:140px; width:235px; background-image:url(../images/lady-banner.jpg); margin:0 0 10px 0;}



/* cos close */


/* Why choose mammoscreen start */

#why_mammo{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#why_mammo #bannerrow{ width:auto; overflow:hidden;}



#why_mammo #banner{ background-image:url(../images/provide.jpg); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#why_mammo #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#why_mammo #bannerabtmammo div{ padding:90px 60px;}

#why_mammo #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:150px; margin:0px; padding:0px;}
#why_mammo #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:10px 0 0 20px; }
#why_mammo #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:240px; text-align:left;}
#why_mammo #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:240px; text-align:left;}

#why_mammo #mammodetail{  width:auto; }
#why_mammo #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 10px 3px; padding:10px 20px;}
#why_mammo #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0; }
#why_mammo #mammodetail ul li{  width:auto; line-height:20px; font-weight:normal;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:square; }
#why_mammo #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#why_mammo #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 0px 0px; width:auto; font-weight:bold; padding:0px;  }
#why_mammo #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}

/* Why choose mammoscreen close */

/* vNm start */

#vNm{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#vNm #bannerrow{ width:auto; overflow:hidden;}



#vNm #banner{ background-image:url(../images/awareness.gif); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#vNm #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#vNm #bannerabtmammo div{ padding:95px 50px;}

#vNm #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:190px; margin:0px; padding:0px;}
#vNm #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:10px 0 0 20px; }
#vNm #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:240px; text-align:left;}
#vNm #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:240px; text-align:left;}

#vNm #mammodetail{  width:auto; }
#vNm #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 10px 3px; padding:10px 20px;}
#vNm #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0; }
#vNm #mammodetail ul li{  width:auto; line-height:20px; font-weight:bold;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:square; }
#vNm #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#vNm #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 0px 0px; width:auto; font-weight:bold; padding:0px;  }
#vNm #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}


/* vNm close */

/* Our_q start */

#Our_q{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#Our_q #bannerrow{ width:auto; overflow:hidden;}



#Our_q #banner{ background-image:url(../images/qua_bann.gif); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#Our_q #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#Our_q #bannerabtmammo div{ padding:95px 85px;}

#Our_q #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:110px; margin:0px; padding:0px;}
#Our_q #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:10px 0 0 20px; }
#Our_q #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:240px; text-align:left;}
#Our_q #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:240px; text-align:left;}

#Our_q #mammodetail{  width:auto; }
#Our_q #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 10px 3px; padding:10px 20px;}
#Our_q #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0; }
#Our_q #mammodetail ul li{  width:auto; line-height:20px; font-weight:bold;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:square; }
#Our_q #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#Our_q #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 0px 0px; width:auto; font-weight:bold; padding:0px;  }
#Our_q #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}

/* Our_q close */


/* partner start */

#partner{ background-color:#ffffff; width:auto; padding:18px;  margin:0 0 10px 0;}

#partner #bannerrow{ width:auto; overflow:hidden;}



#partner #banner{ background-image:url(../images/awareness.gif); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#partner #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#partner #bannerabtmammo div{ padding:90px 70px; }

#partner #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:148px; margin:0px; padding:0px; }
#partner #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:-10px 0 0 20px; }
#partner #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}
#partner #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}

#partner #mammodetail{  width:auto;  }
#partner #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 0 3px; padding:10px 20px;}
#partner #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0; }
#partner #mammodetail ul li{  width:auto;  font-weight:bold;font-size:12px; padding:0px; list-style-type:square; list-style:inside; }
#partner #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#partner #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 0px 0px; width:auto; font-weight:bold; padding:0px;  }
#partner #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}
#partner #mammodetail ul ul li{color:#5a6169; font-size:12px; margin-bottom:5px ; width:auto;font-weight:normal; list-style-type:disc; list-style:inside; background-color:none;}
#partner #mammodetail ul ul{color:#5a6169; font-size:12px;  width:auto;font-weight:normal; background-color:none; padding:0px;}

#partner .aunty{ margin:0 0px 0 10px; border:#FFF 1px solid;}
#partner #content-left-image ul li img{ margin:0 0 10px 0 ;}
#partner .lady_img{ height:140px; width:235px; background-image:url(../images/lady-banner.jpg); margin:0 0 10px 0;}

/* partner close */

/* our_tm start */

#our_tm{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#our_tm #bannerrow{ width:auto; overflow:hidden;}



#our_tm #banner{ background-image:url(../images/our_team.gif); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#our_tm #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#our_tm #bannerabtmammo div{ padding:90px 90px; }

#our_tm #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:95px; margin:0px; padding:0px; }


#our_tm #mammodetail{  width:auto; }
#our_tm #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 0px 3px; padding:10px 20px;}
#our_tm #mammodetail h1{ font-size:18px;  padding:0px; margin:0px; width:auto; font-weight:bold;}
#our_tm #mammodetail ul li{  width:auto; }
#our_tm #mammodetail ul li strong{ font-weight:normal; color:#F00;}

#our_tm #mammodetail ul li span{color:#fc6aa5; font-size:14px; margin:6px 0 0 0; width:auto; font-weight:bold;}
#our_tm #mammodetail ul li p{color:#5a6169; font-size:12px; margin:6px 0 0 0; width:auto; text-align:justify;}


#our_tm .aunty{ margin:0 0px 0 10px; border:#FFF 1px solid;}
#our_tm #content-left-image ul li img{ margin:0 0 10px 0 ;}
#our_tm .lady_img{ height:140px; width:235px; background-image:url(../images/lady-banner.jpg); margin:0 0 10px 0;}

/* our_tm close */


/*  limit start */

#limit{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#limit #bannerrow{ width:auto; overflow:hidden;}



#limit #banner{ background-image:url(../images/limit.jpg); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#limit #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#limit #bannerabtmammo div{ padding:90px 90px;}

#limit #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:100px; margin:0px; padding:0px;}
#limit #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:-10px 0 0 20px; }
#limit #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}
#limit #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}

#limit #mammodetail{  width:auto; }
#limit #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 0px 3px; padding:10px 20px;}
#limit #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0;  }
#limit #mammodetail ul li{  width:auto; line-height:20px; font-weight:bold;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:square; }
#limit #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#limit #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 6px 0px; width:auto; font-weight:bold; padding:0px;  }
#limit #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}



/* limit close */

/*  indi start */

#indi{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#indi #bannerrow{ width:auto; overflow:hidden;}



#indi #banner{ background-image:url(../images/indi.jpg); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#indi #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#indi #bannerabtmammo div{ padding:25px 10px;}

#indi #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:105px; margin:0px; padding:0px;}
#indi #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:10px 0 0 20px; }
#indi #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:240px; text-align:left;}
#indi #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:240px; text-align:left;}

#indi #mammodetail{  width:auto; }
#indi #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 10px 3px; padding:10px 20px;}
#indi #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0; }
#indi #mammodetail ul li{  width:auto; line-height:20px; font-weight:bold;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:square; }
#indi #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#indi #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 0px 0px; width:auto; font-weight:bold; padding:0px;  }
#indi #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}


/* indi close */

/*  career start */

#career{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#career #bannerrow{ width:auto; overflow:hidden;}



#career #banner{ background-image:url(../images/awareness.gif); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#career #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#career #bannerabtmammo div{ padding:50px 30px;}

#career #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:60px; margin:0px; padding:0px;}
#career #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:10px 0 0 20px; }
#career #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:200px; text-align:left;}
#career #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:200px; text-align:left;}

#career #mammodetail{  width:auto; }
#career #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 10px 3px; padding:10px 20px;}
#career #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0; text-decoration:underline; }
#career #mammodetail ul li{  width:auto; line-height:20px; font-weight:bold;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:square; }
#career #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#career #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 0px 0px; width:auto; font-weight:bold; padding:0px;  }
#career #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}


#career .aunty{ margin:0 0px 0 10px; border:#FFF 1px solid;}
#career #content-left-image ul li img{ margin:0 0 10px 0 ;}
#career .lady_img{ height:140px; width:235px; background-image:url(../images/lady-banner.jpg); margin:0 0 10px 0;}

/* career close */


/* contact start */

#contact{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#contact #bannerrow{ width:auto; overflow:hidden;}



#contact #banner{ background-image:url(../images/awareness.gif); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#contact #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#contact #bannerabtmammo div{ padding:90px 90px;}

#contact #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:105px; margin:0px; padding:0px;}
#contact #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:-10px 0 0 20px; }
#contact #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}
#contact #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}

#contact #mammodetail{  width:auto; }
#contact #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 0px 3px; padding:10px 20px;}
#contact #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0;   }
#contact #mammodetail ul li{  width:auto; line-height:20px; font-weight:bold;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:square; }
#contact #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#contact #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 0px 0px; width:auto; font-weight:bold; padding:0px;  }
#contact #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}


#contact .aunty{ margin:0 0px 0 10px; border:#FFF 1px solid;}
#contact #content-left-image ul li img{ margin:0 0 10px 0 ;}
#contact .lady_img{ height:140px; width:235px; background-image:url(../images/lady-banner.jpg); margin:0 0 10px 0;}

/* contact close */


/*  news start */

#news{ background-color:#ffffff; width:auto; padding:18px; margin:0 0 10px 0;}

#news #bannerrow{ width:auto; overflow:hidden;}



#news #banner{ background-image:url(../images/awareness.gif); background-repeat:no-repeat; float:left; height:225px; width:630px; margin:0px; padding:0px;}



#news #bannerabtmammo{ background-image:url(../images/mammo_text_bg.gif); background-repeat:repeat-x; float:right; width:283px; height:225px; margin:0px; padding:0px; }
#news #bannerabtmammo div{ padding:90px 115px;}

#news #bannerabtmammo h1{ list-style-image:none; color:#25585b; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:20px; border-bottom:#a2dbe3 2px solid; width:52px; margin:0px; padding:0px;}
#news #bannerabtmammo ul{ color:#000; display:block; width:250px; margin:-10px 0 0 20px; }
#news #bannerabtmammo ul li{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}
#news #bannerabtmammo ul li:hover{list-style-image:url(../images/arrow.png);  font-family:Arial, Helvetica, sans-serif; color:#25585b; font-size:15px;padding:5px 0 5px 0; border-bottom:#a2dbe3 1px solid; width:210px; text-align:left;}

#news #mammodetail{  width:auto; }
#news #mammodetail ul{  width:auto; background-color:#f7efed; margin:0 0 0px 3px; padding:10px 20px;}
#news #mammodetail h1{ font-size:18px;  padding:0px;  width:auto; font-weight:bold; margin:0 0 9px 0; text-decoration:underline;  }
#news #mammodetail ul li{  width:auto; line-height:20px; font-weight:bold;font-size:12px; padding:0px; margin:0 0 0 14px; list-style-type:square; }
#news #mammodetail ul li span{  width:auto; line-height:20px; font-weight:bold; }


#news #mammodetail ul p span{color:#fc6aa5; font-size:14px; margin:6px 0px 6px 0px; width:auto; font-weight:bold; padding:0px;  }
#news #mammodetail ul p{color:#5a6169; font-size:12px; margin:6px 0px 0px 0px; width:auto; text-align:justify; font-weight:normal; padding:0px;}



/* news close */

.query_box1{  width:auto; background-image:url(../images/query_bg.gif); background-repeat:repeat-x; border:2px #7bcfd5 solid; height:365px; background-color:#7bcfd5; }
.query_box1 h1{ width:auto; font-size:16px; color:#25585b; margin:0px; padding:5px 10px; }
.query_box1 ul{ width:auto; background-color:#e6f7f8; margin:5px; padding:10px 0 0 10px; height:86%; }
.query_box1 ul li{ width:auto; margin:0 0 5px 0px;}


#content{ width:auto; overflow:hidden; padding:10px 0 0 0px}
#content-left{ float:left;  width:236px;}
#content-left ul{ width:auto;}



#content-left img{   width:100%;}
#content-right{ float:right; width:682px;}

