@media only screen and (max-width:1280px){
    .categoryboxes_inr.lastcategory_inr, .categoryboxes_inr.frstcategory_inr{
        height: auto;
        min-height: 497px;
    }
    span.berifCatergpryC{
        padding: 90px 15px 0;
    }
    .categoryboxes_otr{
        width: 100%;
        display: inline-block;
    }

   .googlemp_sctn {
        float: none;
        display: block;
        margin: 60px auto;
        padding: 4px 0;

    }
    .regstnddate_closing, .callinfo_sctn, .websiteurl_sctn{
        float: none;
    }
}
@media only screen and (max-width:1180px){
    a.logo{
        padding-left: 10px;
        box-sizing: border-box;
    }
    span.statename_txt{
        min-width: 80%;
    }
    .googlemp_sctn{
        max-width: 430px;
        width: auto;
    }
}
@media only screen and (max-width:1024px){
    ul.nav li{
        padding: 31px 18px;
    }
    
    ul.nav li.reg-link {
        padding: 20px 18px;
    }
    a.logo img{
        width: 65px;
        height: 50px;
    }
    a.logo, nav.nav_cntr{
        width: auto;
    }
    .breif_discountpckges{
        padding: 30px 15px;
        font-size: 14px;
        min-height: 150px;
    }
}
@media only screen and (max-width:960px){
    ul.nav li{
        font-size: 14px;
    }
    .Boxes_inrDiscount{
        width: 31.3%;
        margin: 1% 1% 1.5% 1%;
    }
}
@media only screen and (max-width:898px){
    .categoryboxes_inr{
       width: 45.7%;
        margin: 0 2% 2% !important;
    }
    .boxesinr_center{
        width: 33.3%;
        min-height: 1120px;
    }
    .categoryboxes_inr.frstcategory_inr, .categoryboxes_inr{
        height: auto;
        min-height: 592px;
    }
    ul.points_category{
        margin: 15px 0 20px;
    }
    .categoryboxes_inr.frstcategory_inr{
        margin: 0;
    }
    .categoryboxes_inr.lastcategory_inr{
        margin: 0;
    }
}
@media only screen and (max-width:768px){
    .nav_cntr{
        position: relative;
    }
    .main_wrappr.sec_wapper .foot_txt{
        width: 100%;
        text-align: center;
    }
    ul.nav.nav-open:after{
        position: fixed;
        background-color: #000;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
    }
    h3.hdng_objctve{
        margin: 50px 0 10px;
    }
    .Boxes_inrDiscount {
        width: 46%;
        margin: 0% 2% 4.5% 2%;
    }
    
    .Discountboxes_sctn{
        margin: 40px 0;
    }
    .main_wrappr.sec_wapper .followuson {
        width: 244px;
        display: block;
        margin: 0 auto;
        float: none
    }
    span.txt_introbjective{
        line-height: 24px;
        width: 95%;
        font-size: 14px;
    }
    .close-btn{
        display: block !important;
    }
    ul.nav.nav-open{
        right: 0;
    }
    a.logo{
        padding: 12px 0 12px 10px;
    }
    #nav-icon4{
        display: block;
    }
    ul.nav{
        position: fixed;
        top: 0;
        width: 300px;
        right: -100%;
        height: 100%;
        bottom: 0;
        z-index: 999;
        background-color: #fff;
        padding-top: 50px;
    }
    ul.nav li{
        width: 100%;
        float: none;
        display: inline-block;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
    }
    ul.nav li a{
       box-sizing: border-box;
       width: 100%;
       display: inline-block;
    }
    ul.nav li.reg-link{
        padding: 0 10px;
    }
    .leftSctn_imptrnt{
        display: none;
    }
    .middleSctn_imprtnt{
        width: 75%;
    }
    .crcleimprtnt_sctn{
        left: 0;
        width: 150px;
        height: 150px;
    }
    span.txt_feesregistnthdng:before{
        height: 130px;
        width: 130px;
    }
    span.txt_feesregistnthdng{
        padding: 0 10px;
    }
    span.txtfees_registration{
        font-size: 22px;
    }
    .leftbtm_imprtnt {

        float: left;
        width: 45%;
        margin-right: 3%;
        padding-left: 3%;

    }
    span.txt_dateregist{
        font-size: 16px;
    }
    span.txt_hndgregistrartion{
        font-size: 14px;
    }
    span.exmnationName_txt{
        font-size: 22px;
    }
    .middleSctn_imprtnt{
        margin: 20px 0 40px;
    }
    .categoryboxes_inr {

    width: 100%;
    margin: 0 0 30px !important;
    height: auto !important;
    min-height: 380px !important;

}
.catoger_sctn, .lowincmCriteria_sctn{
    margin: 30px 0;
}
.categoryboxes_inr.lastcategory_inr{
    margin-bottom: 0 !important;
}
    h3.benfit_hdng{
        font-size: 20px;
        color: #333;
        margin: 0 0 10px 0;
    }
    h4.benefit_subhndg{
        font-size: 14px;
        font-weight: 600
    }
    ul.points_incomecriteria {
    width: 100%;
    margin: 0px auto;
    list-style: none;
    display: inline-block;
    padding-left: 0;
}
span.point_imgSctn{
   padding-right: 0;
    margin-right: 1%;
}
span.point_txtSctn{
    width: 96%;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 14px;
}
}
@media only screen and (max-width:640px){
    .rytSctn_imprtnt {
        width: 100%;
        height: 170px;
        display: inline-block;
    }
    .crcleimprtnt_sctn {
        left: 0;
        width: 150px;
        height: 150px;
        margin: auto;
        right: 0;
        top: 0px;
    }
    .middleSctn_imprtnt {

    width: 100%;

}
.regstnddate_closing{
    display: inline-block;
}
.boxesinr_center{
        width: 100%;
        min-height: auto;
    }
    span.statename_txt{
        width: 100%;
    }
}
@media only screen and (max-width:540px){
    .Boxes_inrDiscount{
        width: 100%;
        margin: 0 auto 30px;
    }
    .Discountboxes_sctn{
        padding: 10px;
        box-sizing: border-box;
    }
    .breif_discountpckges {
        min-height: auto;
    }
}
@media only screen and (max-width:460px){
    .leftbtm_imprtnt {
        float: none;
        width: 100%;
        margin-right: 0;
        padding: 10px 15px;
        box-sizing: border-box;
        display: inline-block;
    }
    .regstnddate_closing{
        padding: 0 30px;
    }
    .bottomSctn_imprtnt{
        margin: 12px 0 0 0;
    }
    span.point_imgSctn{
        width: 4%;
        margin-right: 2%;
    }
    span.point_txtSctn{
        width: 94%;
    }
}