/***************************************************************************************************
							   Aller Regular Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'allerregular'; src: url('../font/aller_std_rg-webfont.eot'); font-weight: normal; font-style: normal; 
    src: url('../font/aller_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_std_rg-webfont.woff') format('woff'),
         url('../font/aller_std_rg-webfont.ttf') format('truetype'),
         url('../font/aller_std_rg-webfont.svg#allerregular') format('svg');}

/***************************************************************************************************
							   Aller Light Font Face Start Here  
****************************************************************************************************/
@font-face{font-family: 'allerlight'; src: url('../font/aller_std_lt-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/aller_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_std_lt-webfont.woff') format('woff'),
         url('../font/aller_std_lt-webfont.ttf') format('truetype'),
         url('../font/aller_std_lt-webfont.svg#allerlight') format('svg');}

/***************************************************************************************************
							   Aller Bold Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'allerbold'; src: url('../font/aller_std-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/aller_std-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/aller_std-webfont.woff') format('woff'),
         url('../font/aller_std-webfont.ttf') format('truetype'),
         url('../font/aller_std-webfont.svg#allerbold') format('svg');}

/***************************************************************************************************
							   Aller Display Font Face Start Here  
****************************************************************************************************/
@font-face{font-family: 'aller_displayregular'; src: url('../font/allerdisplay_std_rg-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/allerdisplay_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/allerdisplay_std_rg-webfont.woff') format('woff'),
         url('../font/allerdisplay_std_rg-webfont.ttf') format('truetype'),
         url('../font/allerdisplay_std_rg-webfont.svg#aller_displayregular') format('svg');}

/***************************************************************************************************
							   Helvetica Neue Lt Std Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'helvetica_neue_lt_std77BdCn'; src: url('../font/helveticaneueltstd-bdcn_3-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/helveticaneueltstd-bdcn_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneueltstd-bdcn_3-webfont.woff') format('woff'),
         url('../font/helveticaneueltstd-bdcn_3-webfont.ttf') format('truetype'),
         url('../font/helveticaneueltstd-bdcn_3-webfont.svg#helvetica_neue_lt_std77BdCn') format('svg');}

/***************************************************************************************************
							   Helvetica Neue Lt Std Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'HelveticaNeueLTStd-MdCn'; src: url('../font/HelveticaNeueLTStd-MdCn.eot'); font-weight: normal; font-style: normal;
    src: url('../font/HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),
         url('../font/HelveticaNeueLTStd-MdCn.woff') format('woff'),
         url('../font/HelveticaNeueLTStd-MdCn.ttf') format('truetype'),
         url('../font/HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn') format('svg');}

/***************************************************************************************************
							 Helvetica Neue LT Std Thin Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'helvetica_neue_lt_std37ThCn'; src: url('../font/helveticaneueltstd-thcn_1-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/helveticaneueltstd-thcn_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneueltstd-thcn_1-webfont.woff') format('woff'),
         url('../font/helveticaneueltstd-thcn_1-webfont.ttf') format('truetype'),
         url('../font/helveticaneueltstd-thcn_1-webfont.svg#helvetica_neue_lt_std37ThCn') format('svg');}

/***************************************************************************************************
							     Calibri Light Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'calibrilight'; src: url('../font/calibril-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/calibril-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/calibril-webfont.woff') format('woff'),
         url('../font/calibril-webfont.ttf') format('truetype'),
         url('../font/calibril-webfont.svg#calibrilight') format('svg');}

/***************************************************************************************************
							     PT Sans Regular Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'pt_sansregular'; src: url('../font/pt_sans-web-regular_2-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/pt_sans-web-regular_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pt_sans-web-regular_2-webfont.woff') format('woff'),
         url('../font/pt_sans-web-regular_2-webfont.ttf') format('truetype'),
         url('../font/pt_sans-web-regular_2-webfont.svg#pt_sansregular') format('svg');}

/***************************************************************************************************
							   PT Sans Italic Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'pt_sansitalic'; src: url('../font/pt_sans-web-italic_1-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/pt_sans-web-italic_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pt_sans-web-italic_1-webfont.woff') format('woff'),
         url('../font/pt_sans-web-italic_1-webfont.ttf') format('truetype'),
         url('../font/pt_sans-web-italic_1-webfont.svg#pt_sansitalic') format('svg');}

/***************************************************************************************************
							     PT Sans Bold Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'pt_sansbold'; src: url('../font/pt_sans-web-bold_1-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/pt_sans-web-bold_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pt_sans-web-bold_1-webfont.woff') format('woff'),
         url('../font/pt_sans-web-bold_1-webfont.ttf') format('truetype'),
         url('../font/pt_sans-web-bold_1-webfont.svg#pt_sansbold') format('svg');}

/***************************************************************************************************
							     PT Sans Bold Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'pt_sansbold_italic'; src: url('../font/pt_sans-web-bolditalic_1-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/pt_sans-web-bolditalic_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pt_sans-web-bolditalic_1-webfont.woff') format('woff'),
         url('../font/pt_sans-web-bolditalic_1-webfont.ttf') format('truetype'),
         url('../font/pt_sans-web-bolditalic_1-webfont.svg#pt_sansbold_italic') format('svg');}

/***************************************************************************************************
							     Bebas Neue Font Face Start Here  
****************************************************************************************************/
@font-face{font-family:'bebas_neueregular'; src: url('../font/bebasneue-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bebasneue-webfont.woff') format('woff'),
         url('../font/bebasneue-webfont.ttf') format('truetype'),
         url('../font/bebasneue-webfont.svg#bebas_neueregular') format('svg');}

/***************************************************************************************************
							     Asap Regular Font Face Start Here  
****************************************************************************************************/
@font-face{font-family: 'calibriregular'; src: url('../font/calibri_1-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/calibri_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/calibri_1-webfont.woff') format('woff'),
         url('../font/calibri_1-webfont.ttf') format('truetype'),
         url('../font/calibri_1-webfont.svg#calibriregular') format('svg');}

/***************************************************************************************************
							     Asap Bold Font Face Start Here  
****************************************************************************************************/
@font-face{font-family: 'calibribold'; src: url('../font/calibrib_1-webfont.eot'); font-weight: normal; font-style: normal;
    src: url('../font/calibrib_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/calibrib_1-webfont.woff') format('woff'),
         url('../font/calibrib_1-webfont.ttf') format('truetype'),
         url('../font/calibrib_1-webfont.svg#calibribold') format('svg');}