header {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.nav_fixed.stick {
    left: 0;
    position: fixed;
    height: 50px;
    top: -50px;
    z-index: 999;
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 5px 0px #555;
    -webkit-box-shadow: 0px 0px 5px 0px #555;
    -moz-box-shadow: 0px 0px 5px 0px #555;
    transition: padding 0.2s ease-in-out;
    animation: drop_nav 0.5s ease-in-out forwards;
    -webkit-animation: drop_nav 0.5s ease-in-out forwards;
    -moz-animation: drop_nav 0.5s ease-in-out forwards;
    -ms-animation: drop_nav 0.5s ease-in-out forwards;
}
.nav_fixed {
    width: 100%;
    background: #fff;
    transition: 0.5s ease-in-out;
}
.nav_fixed {
    float: left;
    width: 100%;
    /*position: fixed;*/
    border-bottom:1px solid #ccc;
}

.main_wrappr {
    width: 1180px;
    margin: 0 auto;
}
a.logo {
    float: left;
    padding: 20px 0;
    width: 30%;
}
a.logo img{width: 100%;}

nav.nav_cntr {
    float: right;
    width: 70%;
}

ul.nav {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul.nav li {
    float: right;
    list-style: none;
    padding: 37px 18px;
}

ul.nav li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

ul.nav li a:hover {
    color: #f15a22;
}
a.anchor_registraion {
    background: #00a851;
    color: #fff !important;
    border-radius: 356px;
    padding: 12px 35px;
    cursor: pointer;
}
.dst_body .sld_section {
    padding-bottom: 0;
    margin-bottom: 25px;
}

.sld_section {
    position: relative;
    float: left;
    width: 100%;
}
h3.hdng_objctve {
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 80px 0 20px;
}
span.txt_introbjective {
    text-align: center;
    /* float: left; */
    width: 80%;
    display: block;
    line-height: 32px;
    font-size: 18px;
    color: #666;
    font-weight: 300;
    margin: auto;
}
.benifit_sctn {
    float: left;
    width: 100%;
    margin: 80px 0 0;
}

h3.benfit_hdng {
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
    margin: 0 0 20px 0;
}

h4.benefit_subhndg {
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #666;
}

.Discountboxes_sctn {
    float: left;
    width: 100%;
    margin: 60px 0;
}

.Boxes_inrDiscount {
    width: 22%;
    box-shadow: 0px 0px 18px 3px rgba(209,209,209,0.4);
    border-radius: 6px;
    border: 0.5px solid #cceddc;
    position: relative;
    float: left;
    margin-right: 4%;
    box-sizing: border-box;
}
.Boxes_inrDiscount:last-child {
    margin-right: 0;
}






.rnkwise_disctn {
    display: block;
    margin: auto;
    text-align: center;
    background: #00a851;
    width: 45%;
    border-radius: 0 0 15px 15px;
    color: #fff;
}

span.txt_rnknumr {
    width: 100%;
    font-weight: 700;
    padding-top: 5px;
    display: block;
}

span.txt_rnknme {
    display: block;
    width: 100%;
    font-size: 14px;
    padding-bottom: 5px;
}

.txt_free {
    background: #cceddc;
    text-align: center;
    color: #026632;
    margin: 30px 0 0;
    padding: 20px 0;
    font-weight: 600;
    font-size: 22px;
}

.breif_discountpckges {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    box-sizing: border-box;
    color: #333;
}

.Boxes_inrDiscount:before {content: '';position: absolute;/* width: 99%; */background: #00a851;top: -5px;height: 5px;border-radius: 5px 5px 0 0;z-index: 1;left: 2px;right: 2px;}


.inr_iprtntDates {
    float: left;
    width: 100%;
    margin: 30px 0;
    background: #f15a22;
    border-radius: 10px;
}

.leftSctn_imptrnt {
    float: left;
    width: 25%;
    height: 217px;
    text-align: right;
    position: relative;
}

.middleSctn_imprtnt {
    float: left;
    width: 50%;
    margin: 30px 0;
}

.topSctn_imprtnt {
    float: left;
    width: 100%;
    text-align: center;
}

span.txthdng_nmeexm {
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 5px;
}

span.exmnationName_txt {
    float: left;
    width: 100%;
    color: #fff000;
    font-size: 24px;
    text-transform: uppercase;
}

.bottomSctn_imprtnt {
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
}

.leftbtm_imprtnt {
    float: left;
    width: 47.5%;
    margin-right: 5%;
}

.icnSctn_clndr {
    float: left;
    width: 12%;
}

.icnSctn_clndr img {
    width: 100%;
}

.leftbtm_imprtnt:last-child {
    margin-right: 0;
}

.datesctn_icn {
    float: left;
    width: 88%;
    padding-left: 15px;
    box-sizing: border-box;
}

span.txt_dateregist {
    float: left;
    width: 100%;
    color: #fff000;
    font-size: 20px;
}

span.txt_hndgregistrartion {
    float: left;
    width: 100%;
    color: #fff;
    font-size: 16px;
    margin: 2px 0 0 0;
}

.leftSctn_imptrnt img {
    position: absolute;
    right: 40px;
    bottom: -12px;
}
.rytSctn_imprtnt {
    float: right;
    width: 25%;
    /* height: 271px; */
    position: relative;
}

.crcleimprtnt_sctn {
    float: left;
    width: 170px;
    height: 170px;
    position: absolute;
    background: #fff000;
    border-radius: 50%;
    top: 30px;
    left: 25px;
}

span.txt_feesregistnthdng {
    color: #333;
    float: left;
    width: 100%;
    margin: 40px 0 0 0;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

span.txtfees_registration {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin: 5px 0 0;
}

span.txt_feesregistnthdng:before {content: '';height: 150px;width: 150px;border-radius: 50%;/* background: #f15a22; */position: absolute;top: 4px;left: 5px;border: 6px solid #f15a22;}



.catoger_sctn {
    float: left;
    width: 100%;
    margin: 60px 0;
}

.categoryboxes_otr {
    display: block;
    width: 85%;
    margin: 30px auto;
}

.categoryboxes_inr {
    position: relative;
    float: left;
    width: 31.2%;
    box-shadow: 0px 0px 18px 3px rgba(209,209,209,0.4);
    border: 0.5px solid #fcded3;
    border-radius: 6px;
    background: #fff;
}

span.hdng_categrynmbr {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color: #f15a22;
    margin: 15px 0;
}

span.aboutcategory_txt {
    display: block;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 0 0 15px 0;
}

span.subinfo_category {
    display: block;
    background: #fcded3;
    padding: 15px 30px;
    text-align: center;
    font-size: 14px;
    color: #9f6e5e;
    font-weight: 400;
}

ul.points_category {
    float: left;
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 15px 0 40px;
}

ul.points_category li {
    border-bottom: 1px solid #fcded3;
    padding: 5px 0;
    font-size: 14px;
    color: #3333339c;
}

ul.points_category li:last-child {
    border-bottom: 0;
}

.categoryboxes_inr.frstcategory_inr {
    margin: 4% 3% 4% 0;
}

.categoryboxes_inr:before {
    content: '';
    position: absolute;
    /* width: 99%; */
    background: #f15a22;
    top: -5px;
    height: 5px;
    border-radius: 6px 6px 0 0;
    z-index: 0;
    left: 4px;
    right: 4px;
}

.categoryboxes_inr.lastcategory_inr {
    height: 482px;
    margin: 4% 0 4% 3%;
}

span.berifCatergpryC {
    color: #3333339c;
    font-size: 14px;
    padding: 113px 75px;
    box-sizing: border-box;
    text-align: center;
    display: block;
}
.lowincmCriteria_sctn {
    float: left;
    width: 100%;
    margin: 60px 0;
}
ul.points_incomecriteria {
    
    width: 85%;
    margin: 0px auto;
    display: block;
    list-style: none;
}
.frstincome_li{margin-top: 30px;}
ul.points_incomecriteria li {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

span.point_imgSctn {
    float: left;
    padding-right: 15px;
    width: 2%;
    box-sizing: border-box;
    margin-top: 4px;
}

span.point_txtSctn {
    float: left;
    width: 97%;
    font-size: 18px;
    color: #585858;
    line-height: 22px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #00a650;
}

span.point_txtSctn.lastpoint_txtsctn {
    border-bottom: none;
}
.centers_sctn {
    float: left;
    width: 100%;
    background: url(../images/Map.png) rgb(204, 237, 220);
    background-repeat: no-repeat;
    background-position: center;
}

span.hdng_centertxt {
    display: block;
    text-align: center;
    margin: 30px 0 60px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.center_lstSctn {
    float: left;
    width: 100%;
}

.boxesinr_center {
    float: left;
    width: 20%;
    box-sizing: border-box;
}

.inrlst_cntrbox {
    float: left;
    width: 100%;
    margin: 0 0 50px 0;
}

span.statename_txt {
    float: left;
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #086836;
    width: 55%;
}

span.statename_txt span {
    float: left;
}

span.statename_txt img {float: left;margin-right: 5px;}

span.cityname_cntr {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #333333eb;
    margin-top: 10px;
    padding-left: 24px;
    font-weight: 600;
}
.address_sctn {
        float: left;
    border-top: 1px solid #ccc;
    width: 100%;
    position: relative;
    background: url(../images/googlemap.png);
    height: 650px;
    background-size: cover;
}
.address_sctn:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(241, 90, 34,0.3);
    width: 100%;
    height: 100%;
}   
.googlemp_sctn {
    float: left;
    width: 30%;
    background: #fff;
    position: relative;
    border-radius: 6px;
    margin: 60px 0;
}

h3.hdng_imprtntdtes {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
    margin: 40px 0;
}

.regstnddate_closing {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    margin-bottom: 20px;
}

.callendericn_reg {
    float: left;
    width: 18%;
    margin-top: 8px;
    box-sizing: border-box;
    padding-left: 8px;
}

.callendericn_reg img {
    width: 24px;
    margin-right: 15px;
}

.info_regotr {
    float: left;
    width: 82%;
}

span.txt_reghdng {
    float: left;
    color: #f15a22;
    width: 100%;
    font-weight: 500;
}

span.txt_reginfo {
    font-size: 14px;
}
.callinfo_sctn {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 20px;
}

.lftSctn_icn {
    float: left;
    width: 10%;
    margin-top: 5px;
}

.lftSctn_icn img {
    width: 18px;
}

.txtcall_info {
    float: left;
    width: 90%;
}

span.txt_hdngcall {
    float: left;
    width: 100%;
    font-size: 16px;
    color: #555;
}

span.txt_hdngcall {
}

span.txt_hdngnum {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #888;
}

.websiteurl_sctn {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
}

span.hdng_website {
    display: block;
    color: #555;
}

span.websiteurl_txtx {
    display: block;
    color: #555;
    line-height: 15px;
}

footer {
    background: #383838;
    float: left;
    width: 100%;
}

.main_wrappr.sec_wapper .foot_txt {
    /* margin: 0; */
    width: auto;
    display: inline-block;
    float: left;
    font-weight: 600;
    font-size: 12px;
        color: #fff;
    padding: 15px 0;
    margin-bottom: 0;
}
.main_wrappr.sec_wapper .followuson {
    float: right;
    width: auto;
    margin-top: 0;
    padding: 0;
}

.sec_wapper .followuson a {
    margin-right: 30px;
}
.followuson a {
    display: inline-block;
    float: left;
    font-family: "Flaticon";
    border-radius: 50%;
    font-style: normal;
    width: 25px;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    overflow: hidden;
    font-size: 18px;
    padding: 3px;
    color: #fff;
}
.followuson a.fb:after {
    content: "\e074";
}
.followuson a.twt:after {
    content: "\e14d";
}
.followuson a.gpls:after {
    content: "\e097";
}
.followuson a.yt:after {
    content: "\e16b";
}

.register_formOtr {
    position: absolute;
    background: #fff;
    right: 28px;
    z-index: 99;
    width: 22%;
    padding: 20px;
    /* box-shadow: 0px 0px 5px #ccc; */
    top: 13px;
    border: 1px solid #00a851;
    border-radius: 6px;
}

span.hdng_registerform {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #f15a22;
    margin: 0 0 30px 0;
    text-align: center;
}

.input_otrRegister {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}

input.inpt_inrreg {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    padding: 0 0 0 15px;
}

.slctbx_otr {
    float: left;
    width: 48%;
    margin-right: 4%;
    position: relative;
}

.slctbx_otr:last-child {
    margin-right: 0;
}

.slctbx_otr select {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 14px;
    color: #000;
    -webkit-appearance: none;
    padding: 0 0 0 15px;
    box-sizing: border-box;
}

.input_otrRegister:last-child {
    margin-bottom: 0;
}

button.RegstrBtn {
    background: #00a851;
    color: #fff !important;
    border-radius: 356px;
    padding: 12px 35px;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    border: none;
    margin-bottom: 0;
    width: 100%;
}

.slctbx_otr:after {
    position: absolute;
    content: "\e007";
    right: 5px;
    top: 10px;
    color: #00a851;
    font-family: flaticon;
    font-size: 22px;
}


span.hdng_frstregisterform {
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    position: relative;
}
span.hdng_frstregisterform img {
    position: absolute;
    width: 15px;
    cursor: pointer;
    top: 5px;
    right: 0;
}