div.pagination {
	padding: 3px;
	margin: 3px;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;	
	border: 1px solid #35B1FF;
	
	text-decoration: none; /* no underline */
	color: #69C5FF;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #35B1FF;
	background-color: #69C5FF;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #35B1FF;
		
		font-weight: bold;
		background-color: #69C5FF;
		color: #FFF;
	}
div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
	}